{% extends "home/home_base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/custom_login.css' %}">
{% endblock %}

{% block content %}

<div class="section vertical-center" id="login">
    <div class="container-fluid" id="illustrations-and-cta">
        <div class="row">
            <div class="col-4 my-auto text-center" id="check-results-table-illustration">
                <img id="results-check-svg" src="{% static 'svg/results_check.svg' %}" alt="">
            </div>
            <div class="col-4 text-center my-auto d-flex flex-column" id="cta">
                <a href="https://github.com/alvindera97/Grade-Pending-Web-App" class="mb-4">
                    <img id="github-svg" src="{% static 'svg/github.svg' %}" alt="">
                </a>
                <a href="#">
                    <img id="login-with-google-svg" src="{% static 'svg/login_with_google.svg' %}" alt="">
                </a>
                <a href="#">
                    <img id="sign-in-with-apple-svg" class="mt-2" src="{% static 'svg/sign_in_with_apple.svg' %}" alt="">
                </a>
                <a href="#">
                    <img id="continue-with-facebook-svg" src="{% static 'svg/continue_with_facebook.svg' %}" alt="">
                </a>
                <h4 class="mt-2 text-muted">If you don't have an account, <a href="/register"><font class="text-secondary">register here.</font></a></h4>
            </div>
            <div class="col-4 text-center my-auto" id="check-digital-results-table">
                <img id="check-digital-results-table-svg" src="{% static 'svg/check_digital_results_table.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}