<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <title>Hello There</title>
</head>
<body>
  <section>
    <div class="container">
      <a class="instruc" href="index.html">Home</a>
      <h3 id="welc">Hello There</h3>
    </div>
    <div class="img-container">
      <img class="top" id="top1" src="./img/calculator_and_clouds_registration.svg" alt="My svg">
      <img class="bottom" src="./img/background.svg"  alt="My back">
    </div>
    <span id="email"><input type="email" name="email" id="email1" placeholder="Email address"><i id="icon1" class="material-icons">email</i></span>
    <span id="password"><input type="password" name="password" id="password1" placeholder="Password"><i id="icon2" class="material-icons">remove_red_eye</i></span>
    <span id="password3"><input type="password" name="password" id="password2" placeholder="Confirm Password"><i id="icon2" class="material-icons">remove_red_eye</i></span>

    <button class="btn" id="btn2" type="submit">Regi</button>
    <span class="aldy2" id="aldy">Already have an account?<a id="log" href="login.html" > Login</a></span>
  </section>
</body>
</html>