<!doctype html>
<html lang="en">
{% load static %}
{% load wagtailcore_tags %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Noto Sans font -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

    <!--Bootstrap CSS modified by Sass to create a custom version of bootstrap.css. This file is called "scss_bootstrap.css" -->
    <link rel="stylesheet" href="{% static 'css/scss_bootstrap.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}

    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
    </title>
</head>
<body>
{% block content %}
{# override this in templates #}
{% endblock %}

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>