{% extends "home/home_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/custom_index.css' %}">
{% endblock %}


{% block content %}
<div id="container-with-background" class="section">
    <div id="login-logout-grade-pending-calculator-large-text-section" class="container">
        <div class="row mt-5 pt-5">
            <div id="login-register-institutions-section" class="col-md-5 mt-5 ml-md-5 text-center text-md-left text-xl-center pt-5">
                <!--login button-->
                <a id="login-button" class="btn btn-secondary btn-lg mr-2 mb-3" href="login">LOGIN</a>
                <!--register button-->
                <a id="register-button" class="btn btn-secondary btn-lg mr-2 mb-3" href="#">REGISTER</a>
                <svg id="arrow-right" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill mb-3 d-none d-xl-inline"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
                </svg>
                <a id="institutions-button" class="btn btn-outline-secondary btn-lg ml-xl-2 mb-3" href="#">INSTITUTIONS</a>
            </div>
            <div id="grade-pending-calculator-large-text-section" class="col-md-6 mt-5 pt-5">
                <h1 id="grade-pending-calculator-large-text" class="display-3 text-secondary font-weight-bolder text-center ml-md-5 pl-md-5">
                    GRADE PENDING CALCULATOR
                </h1>
            </div>
        </div>
    </div>
    <div id="illustration-and-text-section" class="container mt-xl-5 mt-xxl-0">
        <div class="row mt-1">
            <div id="calculator-svg-column" class="col-xxl-5 col-xl-5 text-center ml-xl-5 pl-xl-5">
                <img id="calculator-svg" class="pt-4" src="{% static 'svg/calculator.svg' %}" alt="" style="width: 100%;">
            </div>
            <div id="catchphrase-section" class="col-xxl-6 col-xl-5 mt-xxl-5 pt-xxl-5 mt-xl-2 pt-xl-2 mr-xl-5 pr-xl-5">
                <h1 class="text-center font-weight-lighter mt-5 pt-5 mr-xl-5 pr-xl-5 d-flex d-none d-md-block">Calculate your GP and CGPA in <b class="font-weight-bold"><i>seconds</i>!</b></h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}