<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <title>Grade Calculator</title>
</head>
<body>
  <section>
    <div class="container">
      <a class="instruc" href="instructions.html"><h4>INSTRUCTIONS</h4></a>
      <h3>Grade Pending Calculator</h3>
      <h4 id="calc">Calculate your GP in a matter of seconds with our grade pending calculaor. its fast, easy, and reliable.</h4>
    </div>
    <div class="img-container">
      <img class="top" src="./img/calculator_and_clouds_landing.svg" alt="My svg">
      <img class="bottom" src="./img/background.svg"  alt="My back">
    </div>
    <span><a href="register.html"><button class="btn" type="submit">Register</button></a></span>
    <span id="aldy">Already have an account?<a id="log" href="login.html" > Login</a></span>
  </section>
</body>
</html>