body {
    background: url(../imgs/backgrounds/background_login.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* at 729 px and below, start the mobile design */

