{% extends 'home/home_base.html' %}
{% load static %}
{% load wagtailcore_tags %}

{% block title_prefix %}Institutions | {% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row mt-md-5 pt-md-5">
            <div class="col-md-3" id="logo-container">
                <img class="w-100 image-fluid" src="{% static 'svg/logo.svg' %}" alt="" id="logo">
            </div>
            <div class="col-md-9 my-auto" id="header-text">
                <h1 class="display-5">Grade Pending Calculator Institutions List</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}